.DS_Store

cabal.project.local
cabal.project.local~
dist-newstyle/
bin/cardano-repo-tool

anti-diffs/
cardano-addresses/
cardano-base/
cardano-benchmarking/
cardano-byron-proxy/
cardano-crypto/
cardano-db-sync/
cardano-rest/
cardano-ledger/
cardano-ledger/
cardano-node/
cardano-prelude/
cardano-shell/
cardano-sl-x509/
cardano-transactions/
cardano-wallet/
flat/
fs-sim/
goblins/
haskell-lmdb/
hedgehog-extras/
io-sim/
iohk-monitoring-framework/
lmdb-simple/
ouroboros-consensus/
ouroboros-network/
plutus/
typed-protocols/
Win32-network/

mainnet*/
