.DS_Store

cabal.project.local
cabal.project.local~
dist-newstyle/
bin/cardano-repo-tool

cardano-addresses/
cardano-base/
cardano-benchmarking/
cardano-byron-proxy/
cardano-crypto/
cardano-db-sync/
cardano-rest/
cardano-ledger/
cardano-ledger/
cardano-node/
cardano-prelude/
cardano-shell/
cardano-sl-x509/
cardano-transactions/
cardano-wallet/
flat/
goblins/
hedgehog-extras/
iohk-monitoring-framework/
ouroboros-network/
plutus/
Win32-network/

mainnet
