cabal.project.local
cabal.project.local~
dist-newstyle/
*~
\#*
\.#*
*.swp
.ghc.environment.*

cardano-base/
cardano-byron-proxy/
cardano-crypto/
cardano-explorer/
cardano-haskell/
cardano-ledger-specs/
cardano-ledger/
cardano-node/
cardano-prelude/
cardano-shell/
cardano-sl-x509/
cardano-wallet/
goblins/
iohk-monitoring-framework/
ouroboros-network/
